#container {
    width:400px;
    height:400px;
    margin:auto;
    position: relative;
    background-color: #F5F5F5;
    margin-top:40px;
    border:1px solid #CCC;
}
p{
    font-size: 30px;
    font-family: Impact;
}

#guy {
    position: relative;
    left: 0;
    top: 0;
}

#ball {
    border-radius: 50%;
    background-color: orange;
    position:absolute;
    left:50%;   
    z-index:2;
    display:none;
    border:1px solid #999;
}
